body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator{
    border: solid;
    border-width: 1px;
    padding: 10px;


    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 600px;
}


#display{
    width: 100%;
    height: 15%;
    text-align: right;
    font-size: 100rem;
}

#buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 90%;
}

.btn{
    margin-top: 2%;
    width: 23%;
    height: 18%;
    font-size: 1.5em;
}

#clear-btn{
    width: 4vw;
}

#clearall-btn{
    width: 6vw;
}
